<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-4.0.xsd 
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">


	<!-- Spring configuration file -->

	<!-- telling container to take care of annotations stuff -->
	<context:annotation-config />

	<!-- declaring base package -->
	<context:component-scan base-package="bd.ac.buet" />


	<!-- View Definition -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property value="/WEB-INF/jsp/" name="prefix" />
		<property value=".jsp" name="suffix" />
	</bean>

	<!-- declare beans -->
<!-- 	<bean id="userDao" class="com.beingjavaguys.dao.UserDaoImpl" /> -->
<!-- 	<bean id="userService" class="com.beingjavaguys.services.UserServiceImpl" /> -->

	<!-- declare DataSource bean for db connectivity -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/letterdb" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>
</beans>